*{
    margin: 0;
}


body{
    font-family: "Montserrat", serif;
}

.container{
    width: 1200px;
}

.content{
    display: flex;
    padding: 96px 212px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 90px;
}

.container-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    display: flex;
    width: 100%;
    padding: 12px 0px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    background: linear-gradient(265deg, #203C86 46.03%, #203C86 53.97%);
}

.section-top{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 53px;
}

.section-top p{
    color: #FFF;
    font-size: 11px;
    font-weight: 200;
}

.redes{
    display: flex;
    align-items: center;
    gap: 20px;
}

.line{
    width: 100%;
    height: 1px;
    opacity: 0.2;
    background: #FFF;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu{
    display: flex;
    align-items: flex-start;
    gap: 42px;
}

.nav-menu .item{
    display: flex;
    width: 100px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.nav-menu a{
    text-decoration: none;
    color: #F9FAFC;
}

.nav-menu .item a{
    text-align: center;
    font-weight: 700;
}

.top{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.top-content{
    display: flex;
    flex-direction: column;
    width: 590px;
    gap: 22px;
}

.top .frase{
    color: #2648A1;
    font-size: 21px;
    font-style: italic;
    font-weight: 400;
}

.top p{
    color: #4D535B;
    text-align: right;
    font-size: 14px;
    font-weight: 500;
}

.epipa{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 38px;
}

.epipa p{
    color: #3C4858;
    font-family: Lato;
    width: 787px;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
}

.beach{
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    gap: 36px;
}

.beach .left-content{
    display: flex;
    width: 480px;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
}

.title{
    color: #2648A1;
}
.title h2{
    font-weight: 700;
}

.beach .p-content{
    color: #3C4858;
    font-family: Lato;
    font-size: 21px;
    font-weight: 400;
}

.right-content{
    display: flex;
    padding: 28px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 52px;
    border-radius: 10px;
    border: 1px solid #2648A1;
}

.right-texts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.title2{
    text-align: left;
}