.card-2{
    display: flex;
    width: 268px;
    padding: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0px 14px 42px 0px rgba(8, 15, 52, 0.06);
}

.card-2 .content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-2 .content .info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}