.pesquisa{
    display: flex;
    width: 840px;
    padding: 24px 16px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid rgba(204, 204, 204, 0.80);
    background: var(--color-gray-10, #FFF);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
}

.pesquisa p{
    color: #9E9E9E;
    font-weight: 500;
}